<!DOCTYPE html>
<html lang="en-US">
<head-space><include(input.title)/></head-space>
<body>
  <header-bar currentRoute=input.route/>
  <div.content>
    <include(input.content)/>
  </div>
  <common/>
  </body>
</html>
