<site-layout route='music'>
    <@title>Music</@title>
    <@content>
        This is the content
        <div>
            <p>Hello</p>
            <div.other>this is more content</div>
        </div>
    </@content>
</site-layout>