import startJam from './utils/rythm.js'

class {
  jam() {
    startJam()
  }
}

<site-layout route='home'>
  <@title>Tyler Corley</@title>
  <@content>
    <section>
      SOON.
      <div on-click('jam')>press me</div>
    </section>
  </@content>
</site-layout>
